div#shNavBar a{color:#ccc;text-decoration:none;border:0 none;padding:0;cursor:pointer;}
div#shNavBar a img{opacity:0.6;filter:alpha(opacity=60);}
div#shNavBar a:hover{color:#fff;}
div#shNavBar a:hover img{opacity:1;filter:alpha(opacity=100);}
#shDisplay div#shTitle{font:normal 12px/17px 'Lucida Grande', Verdana, sans-serif;color:#ffffff;text-align:center;margin:0 auto;}
div#shNavBar{display:block;font:normal 13px/22px 'Lucida Grande', Verdana, sans-serif;color:#999;background-color:#454545;border-top:1px solid #525252;position:fixed;left:0;bottom:0;width:100%;padding:3px 0 5px;text-align:center;cursor:default;z-index:1011;-moz-user-select:none;user-select:none;}
body{height:100%;}
#shShutter *, #shDisplay *{padding:0;margin:0;}
div#shShutter, div#shDisplay{top:0;left:0;width:100%;position:absolute;}
div#shShutter{height:100%;z-index:1000;background-color:#000000;opacity:0.8;filter:alpha(opacity=80);}
div#shDisplay{display:block;background-color:transparent;z-index:1002;}
div#shDisplay img#shTopImg{margin:0 auto;border:1px solid #555;background:transparent;display:block;max-width:none;max-height:none;float:none;-ms-interpolation-mode:bicubic;}
div#shDisplay div#shWrap{visibility:hidden;}
div#shWaitBar{position:absolute;width:100px;left:50%;margin-left:-50px;margin-top:120px;}
#fullSize{display:none;}
#shNavBar img{border:0;vertical-align:text-top;margin:0;padding:3px;float:none;}
#shNavBar .srel-d{opacity:0.4;filter:alpha(opacity=40);}
.sh-make-invisible{visibility:hidden !important;}
* html div#shNavBar{display:block;position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight:document.body.scrollTop+document.body.clientHeight-this.clientHeight);_left:expression(eval(document.compatMode&&document.compatMode=='CSS1Compat') ? document.documentElement.scrollLeft:document.body.scrollLeft);}