html{font-family:sans-serif;font-size:95%;margin:0 auto;padding:0;color:#32373c;width:100%;max-width:1120px;background:url(images/fon1.jpg) fixed;}
body{margin:0 auto;box-shadow:0 0 18px rgba(1,1,1,.18);background-color:#FFF;}
#wrapper{float:center;}
#logo{}
#header{margin:0 0 10px 0;height:40px;background-color:#414141;width:100%;float:left;}
#header ul{list-style:none;margin:0;padding-left:0;margin-top:1px;height:100%;float:right;}
#header a{text-decoration:none;background:#414141;color:#fff;padding:0px 5px;font-family:arial;line-height:30px;display:block;border-right:1px solid #7d858a;-moz-transition:all 0.3s 0.01s ease;-o-transition:all 0.3s 0.01s ease;-webkit-transition:all 0.3s 0.01s ease;}
#header-link a{border-bottom:1px solid #7d858a;}
#header a:hover{background:#D43737;}
#header li{float:left;position:relative;max-width:190px;}
#header li > ul{position:absolute;top:25px;display:none;}
#header li:hover > ul{display:block;width:190px;}
#header li:hover > ul > li{float:none;}
#header.sub-menu{display:none;}
#header.main-item:focus ~ .sub-menu,
#header.main-item:active ~ .sub-menu,
#header.sub-menu:hover{display:block;}
#header img{border:none;float:left;width:100%;max-width:180px;height:100%;max-height:40px;}
#header a{color:white;margin:0px 6px 0px 8px;font-size:0.9em;font-weight:bold;box-shadow:0 0 18px rgba(1,1,1,.18);}
#header-logo{float:left;width:35%;height:100%;}
#header-link{float:left;margin:13px 0px 0px 0px;width:65%;height:100%;}
@media screen and (max-width:1120px){#header .main-item{display:none;}
#header .main-item1{display:none;}
#header a{font-size:0.8em;}
}
#header h1{font:normal 150%/150% verdana,sans-serif,arial;border:0;margin:0;}
#header h4{font:bold 13px/12px sans-serif,arial,helvetica;margin:0;}
#leftside{float:left;left:0;margin:20px 0 0 8px;width:100%;max-width:260px;padding:0px;font-family:sans-serif;border-collapse:collapse;font-size:95%;}
#leftside input#s{font-size:15px;border:1px solid #7F9DB9;width:140px;padding:1px;margin:1px 9px;height:15px;}
#leftside input#searchsubmit{display:none;}
#leftside .widget{padding-bottom:10px;}
#leftside li#text-6{background: url(/wp-content/themes/wikiwp/images/s-top.png) right top no-repeat;background-color:#ddeffb;}
#leftside li#text-5{background: url(/wp-content/themes/wikiwp/images/s-usk.png) right top no-repeat;background-color:#ddeffb;}
#leftside li#text-3{background: url(/wp-content/themes/wikiwp/images/s-vir.png) right top no-repeat;background-color:#ddeffb;}
#leftside li#text-7{background: url(/wp-content/themes/wikiwp/images/s-zvu.png) right top no-repeat;background-color:#ddeffb;}
#leftside li#toc-widget-2{background: url(/wp-content/themes/wikiwp/images/s-sod.png) right top no-repeat;background-color:#ddeffb;}
#leftside input#nn, #leftside input#ne{font-size:11px;border:1px solid #7F9DB9;width:121px;padding:2px;margin:3px 9px;}
#leftside input#newslettersubmit{font-size:11px;margin:0 0 6px 40px;}
#leftside p{padding:0;margin:5px 0px 4px 5px;font-family:Georgia, Verdana, sans-serif;font-weight:bold;font-size:16px;}
#leftside a:hover{color:#800000;text-decoration:underline;}
.widget, .linkcat{padding-top:15px!important;margin:0px 10px 15px 0px;color:black;font-family:Georgia, Verdana, sans-serif;font-size:20px;background-color:#ddeffb;font-weight:normal;list-style:none;}
.sideul{margin:0;padding:0 0 0 0px;}
#leftside li{padding:0 0 0 3px;}
#leftside li ul{font-family:Georgia, Verdana, sans-serif;font-weight:normal;font-size:16px;padding:0px;}
#leftside li ul li{margin:0 0 5px 4px;list-style:none;font-style:normal;}
#leftside li ul p{margin:0px;margin-right:8px;padding:0px;font-style:normal;}
#leftside li ul li a{color:#002BB8;}
#leftside img{padding:0px;margin:0 4px 0 0;border:0px;}
#navigation{margin:8px;font-weight:bold;}
.spacer{clear:both;}
h1, h2, h3{font-family:sans-serif;font-weight:normal;}
h1{font-size:137%;margin-bottom:4px;margin-left:16px;color:#f75400;font-family:Georgia,Verdana;}
h2{font-size:130%;font-family:Georgia,Verdana;color:#12c000;margin:0;padding:0 0 .17em 0;font-weight:bold;}
h2 a{font-size:115%;color:#002BB8;font-weight:normal;}
h3{font-size:120%;font-family:Georgia,Verdana;color:#12c000;font-weight:bold;}
h4{font-size:115%;font-family:Georgia,Verdana;color:#12c000;font-weight:bold;}
a:link, a:active, a:visited, a:hover{text-decoration:none;}
a:hover{color:#5A3696;text-decoration:underline;}
a.linkvn{background:url(images/link.png) 0 6px no-repeat;padding:0 0 3px 15px;font-size:120%!important;}
#container, #home{background-color:white;font-family:Georgia, verdana, sans-serif;font-size:19px;line-height:1.3;width:100%;max-width:846px;float:left;}
.content{margin:1px 16px 16px 16px;}
#container a:link, a:active, a:visited, a:hover{color:#002BB8;}
#container a:hover{text-decoration:underline;}
dd, dt{font-family:sans-serif;font-size:95%;}
blockquote{font-size:90%;color:#333;}
img{border:1px solid #006699;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;max-width:100%;height:auto;}
img.wp-smiley{border:none;}
.border{border:1px solid #006699;padding:8px;margin:16px;}
.author, .date, .category{font-size:auto;}
.edit{font-style:normal;font-weight:normal;margin-left:16px;}
.postinfo{margin:6px 1px 9px 20px;font-size:65%;font-style:italic;text-align:left;color:grey;}
.postinfo-home{margin:2px 1px 5px 1px;font-size:65%;font-style:italic;text-align:left;color:grey;}
.lastpostlist{float:left;}
.navigation{display:block;text-align:center;margin-top:10px;margin-bottom:6px;}
.alignright{float:right;}
.alignleft{float:left;}
.excerpt{margin-bottom:32px;margin:0px 16px 0 16px;float:left;}
#rubriki_cl .excerpt{margin-bottom:32px;margin:10px 5px 0 5px;float:left;width:250px;height:285px;padding:7px;box-shadow:0 0 18px rgba(1,1,1,.18);background-color:#FFF;}
#rubriki_cl{width:100%;float:left;}
#rubriki_cl .excerpt:hover{background-color:#f0fde1;}
#rubriki_cl a:hover{color:red;text-decoration:none;}
#category-description{width:94%;max-width:798px;float:left;margin:0px 6px 0px 6px;box-shadow:0 0 18px rgba(1,1,1,.18);padding:0 8px 3px 8px;}
#knopki_ss{padding:8px;margin:0px 8px 8px 0px;color:black;font-family:Georgia, Verdana, sans-serif;font-size:22px;background-color:#ddeffb;font-weight:normal;list-style:none;width:97%;float:left;}
#knopki_ss img{float:left;margin:8px;border:0px;}
#knopki_ss img:hover{opacity:1;background:#bcc9e0;cursor:pointer;}
#knopki_ss .ya-share2{float:right;margin:16px;}
a.link-help {font-size:0.7em !important;color: grey !important;}
#pagin{float:left;margin:15px;}
.summary a{font-size:100%;color:#035;}
.postinfo a, a:link, a:visited{font-size:100%;color:#035;}
.homeinfo a, a:link, a:visited{font-size:100%;color:#002BB8;}
.more{margin-left:16px;}
.homeinfo{font-size:90%;font-style:italic;font-weight:normal;font-family:arial, sans;}
.pagination{font-weight:bold;}
img.centered{display:block;margin-left:auto;margin-right:auto;}
img.alignright{padding:4px;margin:0 0 4px 8px;display:inline;}
img.alignleft{padding:4px;margin:0 8px 4px 0;display:inline;}
.wp-caption{box-shadow:0 0 18px rgba(1,1,1,.18);border:1px solid #bfbfc0;text-align:center;padding:4px;margin:10px 3px 25px 3px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;max-width:100%;}
div.wp-caption img{border:0px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;max-width:100%;}
.wp-caption p.wp-caption-text{line-height:17px;padding:0 4px 5px;margin:6px 2px 3px 3px;font-size:80%;color:#9a1b02;}
.right, .alignright{float:right;margin:8px;}
.left, .alignleft{float:left;margin:8px;}
.center, .aligncenter{float:center;margin:8px;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;text-align:center;}
#searchform{margin-top:5px;margin-bottom:6px;}
#wp-calendar{margin-top:8px;border:1px solid #CCC;padding:8px;background-color:white;font-size:90%;font-family:sans-serif;font-style:normal;color:#666;}
#wp-calendar caption{font-style:italic;}
#wp-calendar a{font-weight:bold;color:#036;text-decoration:underline;}
#wp-calendar a:visited{color:#333;}
#wp-calendar a:hover{color:red;}
#comments{border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:2px;padding-left:16px;}
.comments{margin-left:16px;float:left;}
.commentlist{list-style-type:none;padding:0;}
.comment{display:table;margin-top:16px;margin-left:0px;padding-left:0;}
fieldset{padding:16px 8px 0px 8px;font-size:85%;-moz-border-radius:4px;border-radius:4px;}
.cat_fieldset{padding-top:8px;}
.cat_fieldset ul{margin-top:8px;}
legend{font-style:italic;color:#999;}
.cat_legend{padding-bottom:4px;}
a.rsslink{background:url(images/rss-16.gif) top left no-repeat;padding-left:20px;}
#commentform   {margin: 0 0 150px 0;}
#commentform img{border:none;}  
#gallery-1{display:block;overflow:hidden;}
#gallery-1 .gallery-item{width:auto !important;float:center !important;}
#gallery-1 img{}
#gallery-1 .gallery-caption{}
#footer{background-color:#414141;color:white;border-top:1px solid #999;font-size:13px;text-align:center;padding:19px 24px 12px 2px;clear:both;}
#footer a{color:orange;}
input#submit{background-color:#ff5200;color:white;margin:1px 1px 10px 1px;width:200px;height:30px;}
input#submit:hover{background-color:red;}
table{table-layout:auto;border-spacing:0 0px;font-weight:bold; margin-bottom: 15px;}
th{padding:10px 20px;background:#56433D;color:#F9C941;border-right:1px solid;font-size:0.9em;}
th:first-child{text-align:left;}
th:last-child{border-right:none;}
td{vertical-align:text-top;padding:6px;font-size:14px;text-align:left;border:1px solid #56433D;}
@media screen and (max-width:830px){table{display:block;overflow-x:auto;width:100% !important;height:100% !important;}
}
.commentlist .bypostauthor{background:#e7f8fb;border-radius:5px;padding:10px;}
.commentlist li ul.children li.bypostauthor{background:#e7f8fb;border-radius:5px;}
p.h3{margin-top:35px;font-size:120%;font-family:sans-serif;color:black;font-weight:bold;}
p.h3:first-letter{color:red;}
.widget:first-letter{color:red;}
.wp-pagenavi a,
.wp-pagenavi a:link{padding:2px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #0066cc;color:#0066cc;background-color:#FFFFFF;}
.wp-pagenavi a:visited{padding:2px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #0066cc;color:#0066cc;background-color:#FFFFFF;}
.wp-pagenavi a:hover{border:1px solid #000000;color:#000000;background-color:#FFFFFF;}
.wp-pagenavi a:active{padding:2px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #0066cc;color:#0066cc;background-color:#FFFFFF;}
.wp-pagenavi span.pages{padding:2px 4px 2px 4px;margin:2px 2px 2px 2px;color:#000000;border:1px solid #000000;background-color:#FFFFFF;}
.wp-pagenavi span.current{padding:2px 4px 2px 4px;margin:2px;font-weight:bold;border:1px solid #000000;color:#000000;background-color:#FFFFFF;}
.wp-pagenavi span.extend{padding:2px 4px 2px 4px;margin:2px;border:1px solid #000000;color:#000000;background-color:#FFFFFF;}
.wp-pagenavi .first{}
.wp-pagenavi .last{}
.wp-pagenavi .prev{}
.wp-pagenavi .next{}
.content ol li::before{background-color:green;color:#fff;content:counter(point, decimal);counter-increment:point 1;line-height:1.3;margin-left:-26px;padding:0 4px;position:absolute;}
.content ol li{line-height:1.2;margin-bottom:8px;position:relative;}
.content ul li{line-height:1.2;margin-bottom:8px;position:relative;}
.content ol{counter-reset:point;list-style-type:none;}
#interesting_articles{margin:10px 0;float:left;width:100%;}
#interesting_articles ul{width:100%;display:block;padding:0;}
#interesting_articles li{list-style:none;}
#interesting_articles .cell{height:310px;box-shadow:0 0 18px rgba(1,1,1,.18);float:left;list-style:none;margin:5px 13px 5px 0;padding:6px;width:175px;overflow:hidden;border:#F5F5F5 solid 1px;}
#interesting_articles .cell a:hover{text-decoration:none;margin-top:5px;color:red;display:block;font-size:95%;line-height:1.3em;}
#interesting_articles .cell a{text-decoration:none;margin-top:5px;display:block;font-size:95%;line-height:1.3em;}
#interesting_articles .cell:hover{background-color:#f0fde1;}
#block_best img{margin:18px 0 5px 3px;width:93%;border:1px solid #993333;}
.gallery-size-thumbnail{height:140px;}
div.gorizblok{margin:8px 0 6px 0px;}
.crp_related li{list-style-type:none;height:128px;margin-left:-18px;}
.crp_related img{float:left;margin-right:12px;}
.crp_related p.h3{margin-left:20px;}
.crp_related a{font:normal 113%/113% sans-serif,arial,verdana;}
.blockf{float:left;width:100%;margin-top:5px;}
.blockf img{float:left;width:150px;height:100px;margin:0 10px 0 0;}
.blockf a{color:#ff6200 !important;background:none !important;font-style:normal !important;font-size:135% !important;}
.blockf-a li{list-style:none;float:left;}
.blockf-a{width:96%;min-width:220px;box-shadow:0 0 18px rgba(1,1,1,.18);float:left;margin:5px 13px 5px 0;padding:12px;overflow:hidden;border:#F5F5F5 solid 1px;font-size:85%;font-style:italic;text-align:right;color:grey;}
.blockf .blockf-a ul{width:100%;display:block;padding:0;}
.blockf .blockf-a:hover{background-color:#f0fde1;}
.vajno_post{padding:10px 10px 5px 76px;border:1px solid #909090;margin:0 auto 10px;width:74%;min-height:43px;border-radius:5px;background:#ececec url("images/vajno_post.png") no-repeat scroll 10px 50% !important;}
.dobro{margin:0 auto;width:50%;min-height:135px;height:100%;margin-top:20px;border-radius:5px;border:1px solid #DDD;padding:5px;}
.dobro img{float:left;border:none;}
.dopoln{float:left;width:100%;margin:18px 12px 37px 2px;border:1px solid #DDD;}
.dopoln1{width:95%;margin:0px 2px 13px 16px;border:1px solid #DDD;}
.dopolnh1{margin: 0px 20px 0px 0px;padding:2px;border: 1px solid #DDD;}
.dopolnh2{float:left;width:100%;margin:12px 12px 25px 0px;padding:2px;border:1px solid #DDD;}
.dopolnh3{width:100%;margin:0px 12px 23px 0px;padding:0px;border:1px solid #DDD;}
.dopolnr {float:right;width:250px;height:250px; margin:1px 15px 10px 10px;border:1px solid #DDD;}
@media screen and (max-width:700px){.dopolnr {display:none;}}
.rekl_bl{font-size: 70%;font-style: italic;color: grey;text-align:center;border-top:1px solid #DDD;border-left:1px solid #DDD;border-right:1px solid #DDD;width: 65px;margin:7px 0 0 0px;height:19px;} 
.usk_w a{background:none !important;}
.usk_w {margin: -5px 0 3px -10px;}
.usk_w img {border: none; max-width: 190px;}
.commentNavigation a,
.commentNavigation a:link{padding:2px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #0066cc;color:#0066cc;background-color:#FFFFFF;}
.commentNavigation a:visited{padding:2px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #0066cc;color:#0066cc;background-color:#FFFFFF;}
.commentNavigation a:hover{border:1px solid #000000;color:#000000;background-color:#FFFFFF;}
.commentNavigation a:active{padding:2px 4px 2px 4px;margin:2px;text-decoration:none;border:1px solid #0066cc;color:#0066cc;background-color:#FFFFFF;}
.commentNavigation span.pages{padding:2px 4px 2px 4px;margin:2px 2px 2px 2px;color:#000000;border:1px solid #000000;background-color:#FFFFFF;}
.commentNavigation span.current{padding:2px 4px 2px 4px;margin:2px;font-weight:bold;border:1px solid #ff9600;color:#ff9600;background-color:#FFFFFF;}
.commentNavigation span.extend{padding:2px 4px 2px 4px;margin:2px;border:1px solid #000000;color:#000000;background-color:#FFFFFF;}